:root {
  --indent-1: 8px;
  --indent-2: 16px;
  --indent-3: 24px;
  --indent-4: 32px;
  --indent-5: 40px;
  --indent-6: 48px;
  --indent-7: 56px;
  --indent-8: 64px;
}
@media screen and (max-width: 768px) {
  :root {
    --indent-1: 4px;
    --indent-2: 8px;
    --indent-3: 16px;
    --indent-4: 24px;
    --indent-5: 32px;
    --indent-6: 40px;
    --indent-7: 48px;
    --indent-8: 56px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  min-height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.subtext {
  opacity: 0.65;
}

.hr {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #b9b9b9;
  background: transparent;
  margin-bottom: 16px;
}

.indent-1 {
  margin-bottom: var(--indent-1);
}

.indent-2 {
  margin-bottom: var(--indent-2);
}

.indent-3 {
  margin-bottom: var(--indent-3);
}

.indent-4 {
  margin-bottom: var(--indent-4);
}

.indent-5 {
  margin-bottom: var(--indent-5);
}

.indent-6 {
  margin-bottom: var(--indent-6);
}

.indent-7 {
  margin-bottom: var(--indent-7);
}

.indent-8 {
  margin-bottom: var(--indent-8);
}

.main {
  display: flex;
  padding: 2vw;
}

.game {
  display: flex;
  gap: 16px;
  margin: auto;
}

.controls {
  width: 240px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
.controls div {
  width: 100%;
}
.controls input[type=number] {
  width: 100%;
  padding: 16px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #3a3a3a;
}
.controls input[type=radio] {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 8px;
  cursor: pointer;
}
.controls label {
  width: 100%;
  padding: 8px;
  cursor: pointer;
}
.controls .radio-cont {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}
.controls button {
  padding: 16px 28px;
  font-size: 16px;
  background-color: #3a3a3a;
  color: #eaeaea;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

#gameGrid {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  height: 720px;
  max-width: 90vw;
  max-height: 90vh;
}
#gameGrid .row {
  display: flex;
  outline: 1px solid transparent;
}
#gameGrid div {
  outline: 1px solid rgb(230, 230, 230);
  width: 100%;
}
#gameGrid .active {
  background-color: rgb(40, 40, 40);
  outline: 1px solid rgb(149, 149, 149);
}
